<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Product</title>
</head>
<body>
    
    <div >
        <h2>Add a new product!</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="cor" >Cor: </label>
            <input id="cor" type="text" name="cor" value="">
        </p>
        <p>
            <label for="tipo">Tipo: </label>
            <input id="tipo" type="text" name="tipo" value="">
        </p>

        <p>
            <label for="codigo_gtin">Codigo gtin: </label>
            <input id="codigo_gtin" type="text" name="codigo_gtin" value="">
        </p>

        <input type="submit" value="OK">
    </form>

</body>
</html>