<head>
    
    <title>Product</title>
</head>
<body>
    
    <div >
        <h2>Add a new product!</h2>
    </div>
    <form action="/products/new" method="post">
        <label for="cor" >Cor: </label>
        <input id="cor" type="text" name="cor" value="">

        <label for="tipo">Tipo: </label>
        <input id="tipo" type="text" name="tipo" value="">

        <label for="cod">Codigo gtin: </label>
        <input id="cod" type="text" name="cod" value="">

        <input type="submit" value="OK">
    </form>

</body>
</html>